fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-neo4j
neo4j
pydantic
pypdf
python-multipart
langgraph
langchain-experimental
langchain-ollama

